html, body {
    height: 100%;
    background-color: green;
    overflow:hidden;
}

html {
    display: table;
    margin: auto;
}

body {
    display: table-cell;
    vertical-align: middle;
}

.text {
    font-weight: bold;
    color: cadetblue;
    text-shadow: 2px 2px 3px black;
    background-color: cadetblue;
    border: 3px solid blue;
}

#grid {
    width: fit-content;
    height: fit-content;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 59px repeat(3, 1fr);
    border: 3px solid black;
    
}

    #grid * {
        border: 3px solid blue;
    }

#score, #level {
    font-size: 25px;
    margin: inherit;
    padding: 10%;

}


@media only screen 
    and (min-width: 150px) and (max-width: 600px){
    #content{
        margin: 0 auto;
        zoom: 65%;
        clear: both;
    }
}
